# _site files created on build
# _dev_config.yml for local testing
_site
_dev_config.yml
.sass-cache
.jekyll-metadata

# Python
*.py[cod]     # Will match .pyc, .pyo and .pyd files.
__pycache__/  # Exclude the whole folder

# EXAMPLE
*.test	# ignore .test files
test.test
